# Data preprocessing

In chatgpt: Yes, here is my file. Right now, it takes a csv file and cleans it, then for my specific research I need to extract certain things from the data (calculated indicators) and store that in the new csv (where each  indicator is a column and each row is a datafile).

In [48]:
import numpy as np
import pandas as pd
from datetime import timedelta

In [ ]:
df = pd.read_csv("data/raw/2_Italy_France_Mixed.csv")
df

,Observation id,Observation date,Description,Observation duration,Observation type,Source,Time offset (s),Media duration (s),FPS,Subs_A,...,Subject,Behavior,Behavioral category,Modifier #1,Behavior type,Time,Media file name,Image index,Image file path,Comment
0,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,First half,NaN,NaN,START,952.133,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,28564,NaN,NaN
1,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Time_on_offense_teamA,NaN,NaN,START,993.833,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,29815,NaN,NaN
2,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Pull_pickup,NaN,RZ_Def,POINT,1013.833,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,30415,NaN,NaN
3,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Successful_pass,NaN,RZ_Def,POINT,1017.533,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,30526,NaN,NaN
4,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Successful_pass,NaN,Mid_Def,POINT,1019.700,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,30591,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Successful_pass,NaN,Mid_Off,POINT,6327.567,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,189827,NaN,NaN
530,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Successful_pass,NaN,RZ_Off,POINT,6333.500,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,190005,NaN,NaN
531,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Score,NaN,NaN,POINT,6336.600,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,190098,NaN,NaN
532,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Second half,NaN,NaN,STOP,6341.933,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,190258,NaN,NaN
533,2_Italy_France_Mixed,2025-05-19 08:35:09.703,Team A is France and team B is Italy.,5389.8,Media file(s),player #1:C:/Users/basti/Desktop/UF_Thesis/2_I...,0.0,7220.0,30.0,16,...,NaN,Time_on_offense_teamA,NaN,NaN,STOP,6341.933,C:/Users/basti/Desktop/UF_Thesis/2_Italy_Franc...,190258,NaN,NaN

In [50]:
df = df.drop(columns=['Observation date', 'Observation duration', 'Description', 'Observation type', 'Source', 'Time offset (s)', 'Media duration (s)', 'FPS', 'Subject', 'Behavioral category', 'Media file name', 'Image index', 'Image file path'])

df = df.rename(columns={"Behavior" : "Behaviour", "Modifier #1" : "Field_Loc", "Behavior type" : "B_Type"})

df

,Observation id,Subs_A,Early win,Subs_B,Behaviour,Field_Loc,B_Type,Time,Comment
0,2_Italy_France_Mixed,16,1,16,First half,NaN,START,952.133,NaN
1,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,START,993.833,NaN
2,2_Italy_France_Mixed,16,1,16,Pull_pickup,RZ_Def,POINT,1013.833,NaN
3,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Def,POINT,1017.533,NaN
4,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1019.700,NaN
...,...,...,...,...,...,...,...,...,...
529,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Off,POINT,6327.567,NaN
530,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Off,POINT,6333.500,NaN
531,2_Italy_France_Mixed,16,1,16,Score,NaN,POINT,6336.600,NaN
532,2_Italy_France_Mixed,16,1,16,Second half,NaN,STOP,6341.933,NaN
533,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,STOP,6341.933,NaN

In [51]:
df.to_csv("data/cleaned_df.csv", index = False)

Some randoms stats

In [52]:
df.loc[df['Behaviour'] == 'Score'].count()

Observation id    22
Subs_A            22
Early win         22
Subs_B            22
Behaviour         22
Field_Loc          0
B_Type            22
Time              22
Comment            0
dtype: int64

Total game time (includes the half time break and timeouts).

Time of each half.

Time is in seconds.

Time of each team on offense.

In [53]:
game_start = df['Time'].min()
game_end = df['Time'].max()

total_gametime = (game_end - game_start) / 60

print("Total game time is:", total_gametime, "minutes.")

Total game time is: 89.83 minutes.

In [54]:
first_half_start = df[(df['Behaviour'] == 'First half') & (df['B_Type'] == 'START')]['Time'].iloc[0]
first_half_stop = df[(df['Behaviour'] == 'First half') & (df['B_Type'] == 'STOP')]['Time'].iloc[0]

first_half_dur = (first_half_stop - first_half_start) / 60
print("Total duration of the first half is:", first_half_dur, "minutes.")

first_half_df = df[(df['Time'] >= first_half_start) & (df['Time'] <= first_half_stop)]

Total duration of the first half is: 32.61445 minutes.

In [55]:
second_half_start = df[(df['Behaviour'] == 'Second half') & (df['B_Type'] == 'START')]['Time'].iloc[0]
second_half_stop = df[(df['Behaviour'] == 'Second half') & (df['B_Type'] == 'STOP')]['Time'].iloc[0]

second_half_dur = (second_half_stop - second_half_start) / 60
print("Total duration of the second half is:", second_half_dur, "minutes.")

second_half_df = df[(df['Time'] >= second_half_start) & (df['Time'] <= second_half_stop)]

Total duration of the second half is: 52.43333333333333 minutes.

Maybe I need to make a table for team A and a table for team B.

Basically I filter the rows that are on team A and on team B.

In [57]:
# Filter only Time_on_offense_teamA state rows
a_offense_rows = df[df['Behaviour'] == 'Time_on_offense_teamA']

# Get list of start/stop timestamps in order
starts = a_offense_rows[a_offense_rows['B_Type'] == 'START']['Time'].tolist()
stops  = a_offense_rows[a_offense_rows['B_Type'] == 'STOP']['Time'].tolist()

# Safety check: they should match in length
if len(starts) != len(stops):
    raise ValueError("Mismatched number of START and STOP events for Team A offense.")

# Zip into intervals
a_intervals = list(zip(starts, stops))

In [58]:
# Filter only Time_on_offense_teamB state rows
b_offense_rows = df[df['Behaviour'] == 'Time_on_offense_teamB']

# Get list of start/stop timestamps in order
starts = b_offense_rows[b_offense_rows['B_Type'] == 'START']['Time'].tolist()
stops  = b_offense_rows[b_offense_rows['B_Type'] == 'STOP']['Time'].tolist()

# Safety check: they should match in length
if len(starts) != len(stops):
    raise ValueError("Mismatched number of START and STOP events for Team B offense.")

# Zip into intervals
b_intervals = list(zip(starts, stops))

In [59]:
def subtract_intervals(base_intervals, sub_intervals):
    result = []
    for start, stop in base_intervals:
        temp = [(start, stop)]
        for sub_start, sub_stop in sub_intervals:
            new_temp = []
            for s, e in temp:
                # Skip non-overlapping
                if sub_stop <= s or sub_start >= e:
                    new_temp.append((s, e))
                else:
                    # Chop out the timeout
                    if sub_start > s:
                        new_temp.append((s, sub_start))
                    if sub_stop < e:
                        new_temp.append((sub_stop, e))
            temp = new_temp
        result.extend(temp)
    return result

# Get timeout intervals
timeout_rows = df[df['Behaviour'] == 'Timeout']
timeout_starts = timeout_rows[timeout_rows['B_Type'] == 'START']['Time'].tolist()
timeout_stops  = timeout_rows[timeout_rows['B_Type'] == 'STOP']['Time'].tolist()
timeout_intervals = list(zip(timeout_starts, timeout_stops))

# Subtract timeouts from Team A offense
a_intervals_clean = subtract_intervals(a_intervals, timeout_intervals)
b_intervals_clean = subtract_intervals(b_intervals, timeout_intervals)

# Sum offense duration team A
a_total_seconds = sum(stop - start for start, stop in a_intervals_clean)
a_total_minutes = a_total_seconds/60

print("Team A was on offense for:", a_total_minutes, "minutes (excluding timeouts).")

# Sum offense duration team B
b_total_seconds = sum(stop - start for start, stop in b_intervals_clean)
b_total_minutes = b_total_seconds/60

print("Team B was on offense for:", b_total_minutes, "minutes (excluding timeouts).")

Team A was on offense for: 50.96110000000002 minutes (excluding timeouts).
Team B was on offense for: 21.353349999999978 minutes (excluding timeouts).

In [60]:
timeout_intervals

total_timeout_duration = sum(stop - start for start, stop in timeout_intervals) / 60

print(f"Total timeout duration: {total_timeout_duration} minutes.")

Total timeout duration: 9.304433333333327 minutes.

In [56]:
total_gametime_excl_breaks = first_half_dur + second_half_dur - total_timeout_duration/60

print(f"Total playing time of the whole game (excluding breaks) is: {total_gametime_excl_breaks} minutes.")

Total playing time of the whole game (excluding breaks) is: 75.74335 minutes.

In [61]:
def rows_in_intervals(df, intervals):
    return df[df['Time'].apply(lambda t: any(start <= t <= end for start, end in intervals))]

df_teamA_offense = rows_in_intervals(df, a_intervals_clean)
df_teamB_offense = rows_in_intervals(df, b_intervals_clean)

In [62]:
df_teamA_offense

,Observation id,Subs_A,Early win,Subs_B,Behaviour,Field_Loc,B_Type,Time,Comment
1,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,START,993.833,NaN
2,2_Italy_France_Mixed,16,1,16,Pull_pickup,RZ_Def,POINT,1013.833,NaN
3,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Def,POINT,1017.533,NaN
4,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1019.700,NaN
5,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1024.633,NaN
...,...,...,...,...,...,...,...,...,...
529,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Off,POINT,6327.567,NaN
530,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Off,POINT,6333.500,NaN
531,2_Italy_France_Mixed,16,1,16,Score,NaN,POINT,6336.600,NaN
532,2_Italy_France_Mixed,16,1,16,Second half,NaN,STOP,6341.933,NaN
533,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,STOP,6341.933,NaN

In [63]:
df_teamA_offense.loc[df_teamA_offense['Behaviour'] == 'Score'].count()

Observation id    15
Subs_A            15
Early win         15
Subs_B            15
Behaviour         15
Field_Loc          0
B_Type            15
Time              15
Comment            0
dtype: int64

In [64]:
df_teamB_offense.loc[df_teamB_offense['Behaviour'] == 'Score'].count()

Observation id    7
Subs_A            7
Early win         7
Subs_B            7
Behaviour         7
Field_Loc         0
B_Type            7
Time              7
Comment           0
dtype: int64

In [65]:
df_teamB_offense

,Observation id,Subs_A,Early win,Subs_B,Behaviour,Field_Loc,B_Type,Time,Comment
11,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,STOP,1141.967,NaN
12,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamB,NaN,START,1141.967,NaN
13,2_Italy_France_Mixed,16,1,16,Pull_pickup,EZ_Def,POINT,1142.267,NaN
14,2_Italy_France_Mixed,16,1,16,Successful_pass,EZ_Def,POINT,1143.100,NaN
15,2_Italy_France_Mixed,16,1,16,Forced_turnover,RZ_Def,POINT,1147.967,NaN
...,...,...,...,...,...,...,...,...,...
524,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamB,NaN,START,6310.900,NaN
525,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Def,POINT,6313.867,NaN
526,2_Italy_France_Mixed,16,1,16,Unforced_turnover,RZ_Def,POINT,6319.700,NaN
527,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,START,6320.067,NaN
528,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamB,NaN,STOP,6320.067,NaN

In [68]:
# Sum offense duration team A
a_total_minutes_incl = sum(stop - start for start, stop in a_intervals) / 60

# Sum offense duration team A
b_total_minutes_incl = sum(stop - start for start, stop in b_intervals) / 60

In [70]:
# the whole game is total_gametime = first half + second half - halftime break
# first half + second half = time offense A + time offense B + timeouts
# total playing time - breaks = time offense A + time offense B

print(first_half_dur)
print(second_half_dur)
print(a_total_minutes_incl)
print(b_total_minutes_incl)

assert abs(first_half_dur + second_half_dur - a_total_minutes_incl - b_total_minutes_incl) < 1e-6, "Something's off"

# total_gametime
# total_playtime = first_half_dur + second_half_dur
# total_offense_time = a_total_minutes + b_total_minutes

# assert abs(total_gametime - total_offense_time) < 1e-6, "Something's off"

32.61445
52.43333333333333
54.83220000000002
26.78668333333331

AssertionError: Something's off

I think df_teamA (377 rows) is more precise than df_teamA_offense (423 rows).

In [90]:
df_teamA_offense

,Observation id,Subs_A,Early win,Subs_B,Behaviour,Field_Loc,B_Type,Time,Comment
1,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,START,993.833,NaN
2,2_Italy_France_Mixed,16,1,16,Pull_pickup,RZ_Def,POINT,1013.833,NaN
3,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Def,POINT,1017.533,NaN
4,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1019.700,NaN
5,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1024.633,NaN
...,...,...,...,...,...,...,...,...,...
529,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Off,POINT,6327.567,NaN
530,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Off,POINT,6333.500,NaN
531,2_Italy_France_Mixed,16,1,16,Score,NaN,POINT,6336.600,NaN
532,2_Italy_France_Mixed,16,1,16,Second half,NaN,STOP,6341.933,NaN
533,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,STOP,6341.933,NaN

In [101]:
df_teamA_offense = df_teamA_offense[df_teamA_offense['Behaviour'] != 'Time_on_offense_teamB']
df_teamB_offense = df_teamB_offense[df_teamB_offense['Behaviour'] != 'Time_on_offense_teamA']

In [99]:
df_teamA_offense

,Observation id,Subs_A,Early win,Subs_B,Behaviour,Field_Loc,B_Type,Time,Comment
1,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,START,993.833,NaN
2,2_Italy_France_Mixed,16,1,16,Pull_pickup,RZ_Def,POINT,1013.833,NaN
3,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Def,POINT,1017.533,NaN
4,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1019.700,NaN
5,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Def,POINT,1024.633,NaN
...,...,...,...,...,...,...,...,...,...
529,2_Italy_France_Mixed,16,1,16,Successful_pass,Mid_Off,POINT,6327.567,NaN
530,2_Italy_France_Mixed,16,1,16,Successful_pass,RZ_Off,POINT,6333.500,NaN
531,2_Italy_France_Mixed,16,1,16,Score,NaN,POINT,6336.600,NaN
532,2_Italy_France_Mixed,16,1,16,Second half,NaN,STOP,6341.933,NaN
533,2_Italy_France_Mixed,16,1,16,Time_on_offense_teamA,NaN,STOP,6341.933,NaN

In [ ]:
df['Behaviour'].unique()

array(['First half', 'Time_on_offense_teamA', 'Successful_pass',
       'Forced_turnover', 'Pass', 'Score', 'Scoring_attempt',
       'Unforced_turnover', 'Timeout', 'Second half'], dtype=object)

# Analyses
## Formulas for each indicator

### Indicator 2: Attempted scores.
Total scoring attempts.
Score attempts exist of forced/unforced turnovers in the EZ_Off, 'Scoring_attempt', and 'Scores'.

In [ ]:
# Team A total scores and score attempts
scores_A = df_teamA_offense['Behaviour'].value_counts().get('Score', 0)
att_scores_A = df_teamA_offense['Behaviour'].value_counts().get('Scoring_attempt', 0)
f_turnover_EZ_A = df_teamA_offense[(df_teamA_offense['Behaviour'] == 'Forced_turnover') & (df_teamA_offense['Field_Loc'] == 'EZ_Off')].shape[0]
uf_turnover_EZ_A = df_teamA_offense[(df_teamA_offense['Behaviour'] == 'Unforced_turnover') & (df_teamA_offense['Field_Loc'] == 'EZ_Off')].shape[0]
score_attempts_A = scores_A + att_scores_A + f_turnover_EZ_A + uf_turnover_EZ_A

# Team B total scores and score attempts
scores_B = df_teamB_offense['Behaviour'].value_counts().get('Score', 0)
att_scores_B = df_teamB_offense['Behaviour'].value_counts().get('Scoring_attempt', 0)
f_turnover_B = df_teamB_offense[(df_teamB_offense['Behaviour'] == 'Forced_turnover') & (df_teamB_offense['Field_Loc'] == 'EZ_Off')].shape[0]
uf_turnover_B = df_teamB_offense[(df_teamB_offense['Behaviour'] == 'Unforced_turnover') & (df_teamB_offense['Field_Loc'] == 'EZ_Off')].shape[0]
score_attempts_B = scores_B + att_scores_B + f_turnover_B + uf_turnover_B

In [ ]:
print(f'Team A had {score_attempts_A} attempted scores. Team B had {score_attempts_B} attempted scores.')

Team A had 24 attempted scores. Team B had 17 attempted scores.

### Indicator 1: Score efficiency.
Ratio of points scored to total scoring attempts.

In [ ]:
score_efficiency_A = scores_A / score_attempts_A
score_efficiency_B = scores_B / score_attempts_B

print(f'The score efficiency of team A is {score_efficiency_A}. The score efficiency of team B is {score_efficiency_B}.')

The score efficiency of team A is 0.625. The score efficiency of team B is 0.8235294117647058.

### Indicator 3: Disc possession.
Ratio of time spent on offense to time spent on defense.

In [ ]:
print(f'Team A had disc possession for {a_total_minutes / total_gametime_excl_breaks * 100} percent of the time.')
print(f'Team B had disc possession for {b_total_minutes / total_gametime_excl_breaks * 100} percent of the time.')

Team A had disc possession for 53.094501323907885 percent of the time.
Team B had disc possession for 41.63313313463399 percent of the time.

### Indicator 4: Passing accuracy.
Ratio of completed passes to total pass attempts.

In [ ]:
# Team A completed passes and total passes
succ_pass_A = df_teamA_offense['Behaviour'].value_counts().get('Successful_pass', 0) + scores_A
f_turnover_A = df_teamA_offense['Behaviour'].value_counts().get('Forced_turnover', 0)
uf_turnover_A = df_teamA_offense['Behaviour'].value_counts().get('Unforced_turnover', 0)
total_pass_A = succ_pass_A + f_turnover_A + uf_turnover_A + att_scores_A

# Team B completed passes and total passes
succ_pass_B = df_teamB_offense['Behaviour'].value_counts().get('Successful_pass', 0) + scores_B
f_turnover_B = df_teamB_offense['Behaviour'].value_counts().get('Forced_turnover', 0)
uf_turnover_B = df_teamB_offense['Behaviour'].value_counts().get('Unforced_turnover', 0)
total_pass_B = succ_pass_B + f_turnover_B + uf_turnover_B + att_scores_B

In [ ]:
print(f'Team A had passing accuracy of {succ_pass_A / total_pass_A * 100} percent.')
print(f'Team B had passing accuracy of {succ_pass_B / total_pass_B * 100} percent.')

Team A had passing accuracy of 94.06528189910979 percent.
Team B had passing accuracy of 87.82608695652175 percent.

### Indicator 6: Forced turnovers.
Turnovers caused by active defensive pressure.

`Emma`: Ik kijk naar forced turnovers die ze hebben gemaakt terwijl het andere team op offense was, dus een turnover die ervoor heeft gezorgd dat het betreffende team weer op offense kwam door goede defense.

In [ ]:
print(f'Team A caused {f_turnover_B} forced turnovers.')
print(f'Team B caused {f_turnover_A} forced turnovers.')

Team A caused 7 forced turnovers.
Team B caused 10 forced turnovers.

### Indicator 7: Unforced turnovers.
Turnovers due to execution errors or miscommunication.

`Emma`: hier even goed checken hoe ik dit precies bereken, is de forced_turnover van de offense of defense?
`Emma`: Ik kijk naar unforced turnovers die ze zelf hebben gemaakt terwijl ze zelf op offense waren, dus een turnover die ervoor heeft gezorgd dat het betreffende team de aanval verloor door slechte offense.

In [ ]:
print(f'Team A caused {uf_turnover_A} unforced turnovers.')
print(f'Team B caused {uf_turnover_B} unforced turnovers.')

Team A caused 7 unforced turnovers.
Team B caused 6 unforced turnovers.

### Indicator 5: Total turnovers.
Total number of times a team lost disc possession.

In [ ]:
# Team A total turnovers
total_turnover_A = f_turnover_A + uf_turnover_A

# Team B total turnovers
total_turnover_B = f_turnover_B + uf_turnover_B

In [ ]:
print(f'Team A lost possession {total_turnover_A} times.')
print(f'Team B lost possession {total_turnover_B} times.')

Team A lost possession 17 times.
Team B lost possession 13 times.

### Indicators 8: Number of subs

We know Poland is team A, who had 17 subs.
Lithuania is team B, who had 16 subs.

In [108]:
print(f'Team A had {df['Subs_A']} subs.')
print(f'Team B had {df['Subs_B']} subs.')

SyntaxError: f-string: unmatched '[' (3302302682.py, line 1)

### Indicator 10: Early wins.
Whether the game finished by maximum points instead of time.

It was an early win (by a few minutes due to reaching 15 points).

### Indicator 9: Possession efficiency.
Number of passes in each successful scoring attempt.

In [ ]:
# Step 1: Extract Team A possession intervals (START–STOP)
offense = df[df['Behaviour'] == 'Time_on_offense_teamA']
starts = offense[offense['Behaviour type'] == 'START']['Time'].tolist()
stops = offense[offense['Behaviour type'] == 'STOP']['Time'].tolist()

starts.sort()
stops.sort()

if len(starts) != len(stops):
    raise ValueError("Mismatched START/STOP counts for Team A offense.")

teamA_possessions = list(zip(starts, stops))

# Step 2: Create Team B possessions as gaps between Team A's possessions
teamB_possessions = []
for i in range(min(len(stops), len(starts) - 1)):
    b_start = stops[i]
    b_stop = starts[i + 1]
    if b_stop > b_start:
        teamB_possessions.append((b_start, b_stop))

# Step 3: Get timestamps of all scoring events
score_times = df[df['Behaviour'] == 'Score']['Time'].tolist()

# Step 4: Identify possessions that included a score
def get_scoring_possessions(possessions, score_events):
    scoring_possessions = []
    for start, stop in possessions:
        if any((score_time >= start) and (score_time <= stop) for score_time in score_events):
            scoring_possessions.append((start, stop))
    return scoring_possessions

scoring_pos_A = get_scoring_possessions(teamA_possessions, score_times)
scoring_pos_B = get_scoring_possessions(teamB_possessions, score_times)

# Step 5: Count passes in each scoring possession
def count_passes_in_possessions(possessions, team_df):
    pass_counts = []
    for start, stop in possessions:
        passes = team_df[
            (team_df['Time'] >= start) &
            (team_df['Time'] <= stop) &
            (team_df['Behaviour'] == 'Successful_pass')
        ]
        pass_counts.append(len(passes))
    return pass_counts

# Step 6: Get pass counts per scoring possession
passes_per_score_A = count_passes_in_possessions(scoring_pos_A, df_teamA_offense)
passes_per_score_B = count_passes_in_possessions(scoring_pos_B, df_teamB_offense)

# Step 7: Compute averages
avg_passes_per_score_A = np.mean(passes_per_score_A) if passes_per_score_A else 0
avg_passes_per_score_B = np.mean(passes_per_score_B) if passes_per_score_B else 0

# Step 8: Display results
print(f"Team A: Avg. passes per scoring possession = {avg_passes_per_score_A:.2f}")
print(f"Team B: Avg. passes per scoring possession = {avg_passes_per_score_B:.2f}")

Team A: Avg. passes per scoring possession = 14.87
Team B: Avg. passes per scoring possession = 3.07

### Indicator 11: Pass rate.
Number of passes made per minute during possession.

Now I want to calculate the number of passes made per minute during possession for each team (A and B). For each team i already have calculated the total passes (total_pass_A and total_pass_B). I also total time on offense (excluding timeouts) for each team (total_a_minutes and total_b_minutes).

In [ ]:
pass_rate_A = total_pass_A / a_total_minutes
pass_rate_B = total_pass_B / b_total_minutes

In [ ]:
print(f'The pass rate of team A is {pass_rate_A} passes per minute during possession.')
print(f'The pass rate of team B is {pass_rate_B} passes per minute during possession.')

The pass rate of team A is 6.717532094321861 passes per minute during possession.
The pass rate of team B is 2.923399311772485 passes per minute during possession.

### Indicator 12: Possession duration.
Time in seconds a team holds possession before scoring or losing the disc.

So how much time in minutes each offense was for each team, and then the average of that.

In [109]:
# Step 1: Extract Team A possession intervals (START–STOP)
a_offense = df[df['Behaviour'] == 'Time_on_offense_teamA']
a_starts = a_offense[a_offense['B_Type'] == 'START']['Time'].tolist()
a_stops = a_offense[a_offense['B_Type'] == 'STOP']['Time'].tolist()

a_starts.sort()
a_stops.sort()

if len(a_starts) != len(a_stops):
    raise ValueError("Mismatched START/STOP counts for Team A offense.")

teamA_possessions = list(zip(a_starts, a_stops))

# Step 2: Extract Team A possession intervals (START–STOP)
b_offense = df[df['Behaviour'] == 'Time_on_offense_teamB']
b_starts = b_offense[b_offense['B_Type'] == 'START']['Time'].tolist()
b_stops = b_offense[b_offense['B_Type'] == 'STOP']['Time'].tolist()

b_starts.sort()
b_stops.sort()

if len(b_starts) != len(b_stops):
    raise ValueError("Mismatched START/STOP counts for Team B offense.")

teamB_possessions = list(zip(b_starts, b_stops))

# Step 3: Extract timeout intervals
timeouts = df[df['Behaviour'] == 'Timeout']
to_starts = timeouts[timeouts['B_Type'] == 'START']['Time'].tolist()
to_stops  = timeouts[timeouts['B_Type'] == 'STOP']['Time'].tolist()

if len(to_starts) != len(to_stops):
    raise ValueError("Mismatched START/STOP counts for timeouts.")

timeout_intervals = list(zip(to_starts, to_stops))

# Step 4: Function to subtract timeout overlaps from possession intervals
def subtract_timeouts(possessions, timeouts):
    clean_durations = []
    for start, stop in possessions:
        duration = stop - start
        for t_start, t_stop in timeouts:
            overlap_start = max(start, t_start)
            overlap_end = min(stop, t_stop)
            if overlap_start < overlap_end:
                duration -= (overlap_end - overlap_start)
        clean_durations.append(duration)
    return clean_durations

# Step 5: Subtract timeouts from each team's possessions
teamA_durations = subtract_timeouts(teamA_possessions, timeout_intervals)
teamB_durations = subtract_timeouts(teamB_possessions, timeout_intervals)

# Step 6: Calculate averages
avg_teamA_sec = np.mean(teamA_durations)
avg_teamB_sec = np.mean(teamB_durations)

# Step 7: Display results
print(f"Team A average possession duration: {avg_teamA_sec:.2f} seconds ({avg_teamA_sec / 60:.2f} minutes)")
print(f"Team B average possession duration: {avg_teamB_sec:.2f} seconds ({avg_teamB_sec / 60:.2f} minutes)")

Team A average possession duration: 122.31 seconds (2.04 minutes)
Team B average possession duration: 53.38 seconds (0.89 minutes)

In [ ]:
print(a_total_seconds / len(df_teamA_offense[df_teamA_offense['B_Type'] == 'START']))

print(a_total_seconds / df_teamA_offense['B_Type'].value_counts().get('START', 0))

91.21315151515148
91.21315151515148